<manifest package="mobi.omegacentauri.vectordisplay"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host"
                  android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:screenOrientation="nosensor"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Options" android:label="Preferences"
            android:theme="@android:style/Theme.Black"
            android:screenOrientation="nosensor">
            <intent-filer>
                <action android:name=".Options" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filer>
        </activity>

        <service
            android:name="mobi.omegacentauri.vectordisplay.UsbService"
            android:enabled="true">
        </service>

    </application>

</manifest>
